
body {
    background-color: black;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#title{
    text-align: center;
}

.rental_price{
    color: rgb(145, 36, 58);
}

footer{
    background-color: rgb(211, 211, 211);
    height: 300px;
    border: solid gray 4px;
}